<div class="chat-container">
  <div class="chat-section">
    <div class="chat-titles">
      <h1>Bienvenido a Autos Guatemala.</h1>
      <p>A continuación vas a poder realizar tu cotización personalizada y automatizada
        desde el chat.
      </p>
    </div>
    <div class="chatbot">
      <iframe
        allow="microphone;"
        width="750"
        height="430"
        src="https://console.dialogflow.com/api-client/demo/embedded/dc2b18db-eb0e-4e15-ade7-e1ccb3ddf1ff">
      </iframe>
    </div>
  </div>
</div>
